body, html {
     margin: 0%;
     font-family: 'Prompt', sans-serif;
     height: 100%;
     width: 100%;
     background-image: url("../images/Film-Background.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-color: antiquewhite;
}

header {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #333;
     color: #fff;
     font-size: 200%;;
     text-align: center;
     border-bottom: 3px solid rgb(209, 0, 0);
     margin: 0px;
}

#myFavs {
     display: flex;
     background-image: url("../images/Film-Background.png");
} 

h1 {
     margin: 0;
}

h2 {
     font-size: 135%;
}
.myFavsBtn {
     width: 100px;
     height: 30px;
     background-color: rgb(209, 0, 0);
}

.myFavsBtn:hover {
     cursor: pointer;
     background-color: white;
}

#navbar {
     display: flex;
     flex-direction: column;
     align-items: center;
     align-content: space-around;
     overflow: hidden;
     background-color: rgb(209, 0, 0);
     box-shadow: 6px 6px 10px #626161;
     border-radius: 5px;
     margin: 30px auto;
     height: auto;
     color: white;
     border: 3px solid #333;
     font-size: 150%;
     padding-bottom: 30px;
     max-width: 60%;
     text-align: center;
}

#navbar:hover {
     background-color: #333;
     color: #fff;
     border: 3px solid rgb(209, 0, 0);
}

#goBtn {
     width: 40px;
     height: 25px;
}

#goBtn:hover {
     cursor: pointer;
     background-color: rgb(209, 0, 0);
     color: white;
}

#search {
     width: 250px;
     height: 25px;
     margin-top: 15px;
}

form {
     padding: 5px;
     text-align: center;
     margin: 5px;
}

.column {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     flex-basis: flex-basis calc(50% - 10px);
}

#container {
     display: flex;
     flex-wrap: wrap;
}

.movieGif {
     display: flex;
     flex-direction: column;
     text-align: center;
     font-size: xxx-large;
}

.movieName {
     display: flex;
     flex-direction: column;

     margin-top: 10px;
}

.boxes {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     background-color: #ffffff;
     padding: 20px;
     box-sizing: border-box;
     height: fit-content;
     min-height: 120px;
     border: 3px solid rgb(209, 0, 0);
     border-radius: 5px;
     box-shadow: 6px 6px 10px #626161;
     margin: 30px 10px 15px 15px;
     background-image: url("../images/Box-Background.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

#addToFavs {
     text-align: center;
}

.addToFavs {
     width: 100px;
     height: 30px;
}

.addToFavs:hover {
     cursor: pointer;
     background-color: rgb(209, 0, 0);
     color: white;
}


#favoritesList ul {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content:space-around;
     border-top: 3px solid #333;
     margin-top: 5px;
}

#favoritesList ul li {
     margin-right: 10px;
}

li:hover {
     cursor: pointer;
     color: rgb(209, 0, 0);
}