body {
     margin: 0%;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
     background-color: #333;
     color: #fff;
     font-size: 50px;;
     padding: 20px;
     text-align: center;
     border-bottom: 3px solid red;
     height: 120px;
}

.navbar {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     background-color: #ddd;
     overflow: hidden;
     padding: 25px 100px 25px 170px;
     margin: 25px 50px 0px 50px;
     height: auto;
}

.navbar a:hover {
     background-color: #333;
     color: #fff;
}

#searchBtn {
     width: 40px;
     height: 30px;
}

#searchBtn:hover {
     cursor: pointer
}

#myFavsBtn {
     width: 100px;
     height: 30px;
}

#myFavsBtn:hover {
     cursor: pointer
}

#search {
     width: 250px;
     height: 25px;
}

form {
     padding: 12px 0px 0px 15px;
     text-align: center;
     margin: 5px;
     
}

.movieName {
     width: 40%;
     text-align: center;
     padding: 20px 0px 0px 0px;
     margin: 0px 0px 0px 60px;
}
.movieGif {
     float: left;
     width: 38%;
     height: 300px;
     background-color: #f1f1f1;
     padding: 20px;
     margin: 0px 10px 40px 50px;
}

.rightBlock {
     float: right;
     width: 45%;
     height: 100%;
     padding: 0px 0px 20px 20px;
     margin: 0px 50px 20px 10px;
}

.right-row {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-bottom: 20px;
}

.right-column-1,
.right-column-2 {
     width: 48%;
     background-color: #ddd;
     padding: 20px;
     box-sizing: border-box;
     height: 140px;
}

#addToFavs {
     text-align: center;
}

.addToFavs {
     width: 100px;
     height: 30px;
}

.addToFavs:hover {
     cursor: pointer;
}