body, html {
     margin: 0%;
     font-family: 'Prompt', sans-serif;
     background-size: cover;
     background-position: center;
     height: 100%;
     width: 100%;
     background-image: url("../images/Film-Background.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-color: antiquewhite;
}

header {
     background-color: #333;
     color: #fff;
     font-size: 150%;;
     padding: 5px 0px 20px 0px;
     text-align: center;
     border-bottom: 3px solid rgb(209, 0, 0);
     margin: 0px;
}

#myFavs {
     background-image: url("../images/Film-Background.png");
} 

h1 {
     margin: 0;
}

h2 {
     font-size: 135%;
}
.myFavsBtn {
     width: 100px;
     height: 30px;
     background-color: rgb(209, 0, 0);
}

.myFavsBtn:hover {
     cursor: pointer;
     background-color: white;
}

#navbar {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: center;
     overflow: hidden;
     background-color: rgb(209, 0, 0);
     margin: 30px auto;
     height: auto;
     color: white;
     border: 3px solid #333;
     font-size: 120%;
     align-items: baseline;
     padding-bottom: 30px;
     max-width: 60%;
}

.navbar:hover {
     background-color: #333;
     color: #fff;
     border: 3px solid rgb(209, 0, 0);
}

#goBtn {
     width: 40px;
     height: 30px;
}

#goBtn:hover {
     cursor: pointer;
     background-color: rgb(44, 37, 37);
     color: white;
}

#search {
     width: 250px;
     height: 25px;
     margin-top: 13px;
}

form {
     padding: 12px 0px 0px 15px;
     text-align: center;
     margin: 5px;
}

.movieName {
     width: 100%;
     text-align: center;
     padding: 20px 20px 20px 20px;
     margin: 0px 0px 0px 0px;
     font-size: 135%;
}


.movieGif {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     float: left;
     height: 380px;
     background-color: #ffffff;
     padding: 20px;
     margin: 30px 10px 30px 60px;
     border: 5px solid  #333;
     border-radius: 5px;
     box-shadow: 1px 1px 20px 5px #333333b5;
}

#container {
     display: flex;
}


.boxes {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     background-color: #ffffff;
     padding: 20px;
     box-sizing: border-box;
     height: fit-content;
     min-height: 120px;
     border: 3px solid rgb(209, 0, 0);
     border-radius: 5px;
     box-shadow: 4px 4px 4px #333333d3;
     margin: 30px 10px 15px 15px;
}

#addToFavs {
     text-align: center;
}

.addToFavs {
     width: 100px;
     height: 30px;
}

.addToFavs:hover {
     cursor: pointer;
     background-color: rgb(209, 0, 0);
     color: white;
}